<h1 class='whendo-logo'><a class='when' href='#'>When</a></h1>
<div class="row">
  <div class="col-xs-6 col-md-4 insta icon">
  	<a ng-click="auth()" href="#/trigger">
  		<img src="../styles/insta.jpg">
  	</a>
  </div>
  <div class="col-xs-6 col-md-4 tweet icon"><img src="../styles/twitter.jpg"></div>
  <div class="col-xs-6 col-md-4 phill icon"><img src="../styles/pinterest.jpg"></div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4 insta icon"><img src="../styles/nest.jpg"></div>
  <div class="col-xs-6 col-md-4 tweet icon"><img src="../styles/wordpress.jpg"></div>
  <div class="col-xs-6 col-md-4 phill icon"><img src="../styles/gmail.png"></div>
</div>
